// ширина экрана

$width-md: 768px;
$width-lg: 1280px;
$width-xl: 1440px;

// Цвета
$color-white: #FFFFFF;
$color-text: #1f1f1f;
$color-link: #053f6c;
$color-bg-header: rgba(0, 0, 0, 0.03);
$color-bg-content: rgba(217, 218, 219, 0.15);
$color-bg-footer: #4b4b4c;
$color-text-footer: #e2e3e4;
$color-shadow: rgba(24, 25, 25, 0.3);