@use "../../styles/variables" as variable;

.footer {
  flex-grow: 0;
  background-color: variable.$color-bg-footer;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: variable.$color-text-footer;
}

.footer__copy {
}

